.section-signup {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), #fff);
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.signup {
  background-image: linear-gradient(90deg, $color-image-bg 30%, rgba($color-white, .9) 0%, transparent 0%) , url("../img/nat-10.jpg");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  display: inline-block;
  width: 100%;
  @include respond(tab-land) {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 65%, transparent 65%) , url("../img/nat-10.jpg");
    background-size: cover;
  }
  @include respond(tab-port) {
    background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%), url("../img/nat-10.jpg");
  }

  &__form {
    padding: 4rem 11rem 5rem 0rem;
    float: right;
    // text-align: right;
    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__picture {
    position: absolute;
    margin-top: 8rem;
    padding: 2rem;

    @include respond(phone) {
      display: none;
    }
  }
}
